@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: hsl(170, 100%, 95%);
  width: 100vw;
  min-height: 100vh;
}

#root {
  min-height: 100%;
}

button,
input[type='submit'] {
  cursor: pointer;
}

main {
  padding: 50px 100px;
  min-height: calc(100% - 60px);
  padding-bottom: 32px;
}

main section {
  min-height: 100%;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1.2rem;
}

h3 {
  margin-bottom: 1rem;
}
